.radio-group_container {
  background-color: #eee;
  padding: 5px;
  border-radius: 8px;
  position: relative;
  z-index: 999;
  .radio-item_btn {
    width: 150px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    &.active {
      background-color: #fff;
    }
  }
}